In [30]:
import pandas as pd

In [31]:
# ------------ 연도별 어린이교통사고 데이터 정제 ------------
def modify_csv(df, area_df):
    df = df.sort_values(by=['발생건수'], axis=0, ascending=False)
    df = df.reset_index(drop=True)

    area_df = area_df[['지역','발생건수', '사망자수', '부상자수']]
    # SZ_## = 스쿨존 내 데이터
    area_df.columns = ['지역', 'SZ_발생건수', 'SZ_사망자수', 'SZ_부상자수']
    area_df = area_df.sort_values(by=['SZ_발생건수'], axis=0, ascending=False)
    area_df = area_df.reset_index(drop=True)
    
    data = pd.merge(df, area_df, on='지역', how='left')
    # 도로 위험도 지수 계산
    risk_index = []
    area_risk_index = []
    gap = []
    for i in range(len(data)):
        risk_index.append(((data['사망자수'][i]*12+data['부상자수'][i]*3)/data['발생건수'][i]) + 0.001)      
        if data['SZ_발생건수'][i] != 0:
            area_risk_index.append(((data['SZ_사망자수'][i]*12+data['SZ_부상자수'][i]*3)/data['SZ_발생건수'][i]) + 0.001)
        else:
            area_risk_index.append(0)
    data['hazard'] = risk_index
    data['SZ_hazard'] = area_risk_index
    
    for i in range(len(data)):
        gap.append(data['hazard'][i] - data['SZ_hazard'][i])
        
    data['hazard gap'] = gap
    data = data.sort_values(by=['hazard gap'], axis=0, ascending=False)
    data = data.round(2)
    
    return data

In [32]:
df = pd.read_excel('child_acc_19.xlsx')
area_df = pd.read_excel('childarea_acc_19.xlsx')

In [33]:
# 2019년도 교통사고 데이터 정제
data = modify_csv(df, area_df)

In [34]:
data = data[['지역', 'hazard', 'SZ_hazard', 'hazard gap']]

In [35]:
data.columns = ['지역', '2019_risk', '2019_C_risk', '2019_gap']

In [36]:
data.head()

      지역  2019_risk  2019_C_risk  2019_gap
25   종로구       3.75          0.0      3.75
24    중구       3.75          0.0      3.75
15   마포구       3.60          0.0      3.60
18  서대문구       3.49          0.0      3.49
17   성동구       4.13          3.0      1.13

In [37]:
data = data.reset_index(drop=True)

In [38]:
data

      지역  2019_risk  2019_C_risk  2019_gap
0    종로구       3.75         0.00      3.75
1     중구       3.75         0.00      3.75
2    마포구       3.60         0.00      3.60
3   서대문구       3.49         0.00      3.49
4    성동구       4.13         3.00      1.13
5    서초구       3.87         3.00      0.87
6    중랑구       3.79         3.00      0.78
7    강동구       3.78         3.00      0.78
8   영등포구       3.73         3.00      0.73
9    용산구       3.67         3.00      0.67
10   관악구       3.65         3.00      0.65
11   광진구       3.60         3.00      0.60
12  동대문구       3.59         3.00      0.59
13   도봉구       3.57         3.00      0.57
14   강남구       3.53         3.00      0.53
15   구로구       3.48         3.00      0.48
16   동작구       3.47         3.00      0.47
17    합계       3.63         3.19      0.44
18   성북구       3.81         3.38      0.44
19   노원구       3.37         3.00      0.36
20   은평구       3.27         3.00      0.27
21   강서구       3.80         3.56      0.24
22   금천구       3.20         3.00      0.20
23   강북구       3.51         3.60     -0.09
24   송파구       3.51         3.75     -0.24
25   양천구       3.78         4.13     -0.35

In [39]:
data.to_csv('2019_지수.csv', index=False)

In [44]:
df = pd.read_excel('child_acc_17.xlsx')
area_df = pd.read_excel('childarea_acc_17.xlsx')

In [45]:
# 2017년도 교통사고 데이터 정제
data = modify_csv(df, area_df)

In [46]:
data = data[['지역', 'hazard', 'SZ_hazard', 'hazard gap']]

In [47]:
data.columns = ['지역', '2017_risk', '2017_C_risk', '2017_gap']

In [48]:
data

      지역  2017_risk  2017_C_risk  2017_gap
20   용산구       4.12         0.00      4.12
18   금천구       3.48         0.00      3.48
15   강북구       3.38         0.00      3.38
24   성동구       5.36         3.00      2.36
4   영등포구       3.94         3.00      0.94
7    구로구       4.15         3.30      0.85
3    서초구       3.61         3.00      0.61
13   은평구       3.61         3.00      0.61
8    중랑구       3.59         3.00      0.59
2    강남구       3.58         3.00      0.58
6    노원구       3.55         3.00      0.55
10   강서구       3.53         3.00      0.53
21   종로구       3.53         3.00      0.53
1    송파구       3.53         3.00      0.53
16   동작구       3.52         3.00      0.52
25    중구       3.48         3.00      0.48
5    양천구       3.43         3.00      0.43
12   마포구       3.41         3.00      0.41
23  서대문구       3.39         3.00      0.39
0     합계       3.58         3.30      0.28
17  동대문구       3.21         3.00      0.20
14   도봉구       3.19         3.60     -0.41
11   강동구       3.63         4.13     -0.50
19   광진구       3.22         3.75     -0.54
9    성북구       3.19         3.75     -0.56
22   관악구       3.19         4.50     -1.31

In [49]:
data.to_csv('2017_지수.csv', index=False)

In [54]:
df = pd.read_excel('child_acc_18.xlsx')
area_df = pd.read_excel('childarea_acc_18.xlsx')

In [55]:
## 2018년도 교통사고 데이터 정제
data = modify_csv(df, area_df)

In [56]:
data = data[['지역', 'hazard', 'SZ_hazard', 'hazard gap']]

In [57]:
data.columns = ['지역', '2018_risk', '2018_C_risk', '2018_gap']

In [58]:
data.head()

      지역  2018_risk  2018_C_risk  2018_gap
16   강북구       3.72          0.0      3.72
20   용산구       3.44          0.0      3.44
21  서대문구       3.38          0.0      3.38
17  동대문구       3.29          0.0      3.29
25    중구       3.26          0.0      3.26

In [61]:
data.to_csv('2018_지수.csv', index=False)

In [63]:
지수_2019 = pd.read_csv('2019_지수.csv')
지수_2018 = pd.read_csv('2018_지수.csv')
지수_2017 = pd.read_csv('2017_지수.csv')

In [64]:
# 17-19 데이터셋 병합
지수_3 = pd.merge(지수_2017, 지수_2018, on='지역', how='left')
지수_3 = pd.merge(지수_3, 지수_2019, on='지역', how='left')

In [65]:
지수_3

,지역,2017_risk,2017_C_risk,2017_gap,2018_risk,2018_C_risk,2018_gap,2019_risk,2019_C_risk,2019_gap
0,용산구,4.12,0.00,4.12,3.44,0.00,3.44,3.67,3.00,0.67
1,금천구,3.48,0.00,3.48,4.15,3.00,1.15,3.20,3.00,0.20
2,강북구,3.38,0.00,3.38,3.72,0.00,3.72,3.51,3.60,-0.09
3,성동구,5.36,3.00,2.36,3.32,3.00,0.32,4.13,3.00,1.13
4,영등포구,3.94,3.00,0.94,3.39,3.00,0.39,3.73,3.00,0.73
5,구로구,4.15,3.30,0.85,3.67,3.00,0.67,3.48,3.00,0.48
6,서초구,3.61,3.00,0.61,3.70,3.00,0.70,3.87,3.00,0.87
7,은평구,3.61,3.00,0.61,4.50,3.00,1.50,3.27,3.00,0.27
8,중랑구,3.59,3.00,0.59,3.49,3.00,0.49,3.79,3.00,0.78
9,강남구,3.58,3.00,0.58,4.26,3.00,1.26,3.53,3.00,0.53
10,노원구,3.55,3.00,0.55,3.58,3.00,0.58,3.37,3.00,0.36
11,강서구,3.53,3.00,0.53,3.42,3.00,0.42,3.80,3.56,0.24
12,종로구,3.53,3.00,0.53,3.54,3.00,0.54,3.75,0.00,3.75
13,송파구,3.53,3.00,0.53,3.44,3.00,0.44,3.51,3.75,-0.24
14,동작구,3.52,3.00,0.52,3.63,5.25,-1.62,3.47,3.00,0.47
15,중구,3.48,3.00,0.48,3.26,0.00,3.26,3.75,0.00,3.75
16,양천구,3.43,3.00,0.43,3.54,3.00,0.54,3.78,4.13,-0.35
17,마포구,3.41,3.00,0.41,3.33,3.00,0.33,3.60,0.00,3.60
18,서대문구,3.39,3.00,0.39,3.38,0.00,3.38,3.49,0.00,3.49
19,합계,3.58,3.30,0.28,3.60,3.12,0.48,3.63,3.19,0.44
20,동대문구,3.21,3.00,0.20,3.29,0.00,3.29,3.59,3.00,0.59
21,도봉구,3.19,3.60,-0.41,3.35,3.00,0.35,3.57,3.00,0.57
22,강동구,3.63,4.13,-0.50,3.31,3.00,0.31,3.78,3.00,0.78
23,광진구,3.22,3.75,-0.54,3.56,3.00,0.56,3.60,3.00,0.60
24,성북구,3.19,3.75,-0.56,3.84,3.00,0.84,3.81,3.38,0.44
25,관악구,3.19,4.50,-1.31,3.17,3.00,0.17,3.65,3.00,0.65

In [67]:
지수_3.to_csv('risk_3.csv', index=False)