In [1]:
import pandas as pd

In [4]:
# 발생건수 기준 정렬
df = pd.read_excel('child_acc_19.xlsx')
df = df.sort_values(by=['발생건수'], axis=0, ascending=False)
df = df.reset_index(drop=True)

area_df = pd.read_excel('childarea_acc_19.xlsx')
area_df = area_df.sort_values(by=['발생건수'], axis=0, ascending=False)
area_df = area_df.reset_index(drop=True)

In [5]:
df.head()

     기간   지역  발생건수  사망자수  부상자수
0  2019   합계  1475     3  1770
1  2019  송파구   136     0   159
2  2019  강남구   107     0   126
3  2019  강서구    90     1   110
4  2019  구로구    81     0    94

In [6]:
area_df.head()

     기간   지역  발생건수  사망자수  부상자수
0  2019   합계   114     2   113
1  2019  강서구    16     1    15
2  2019  구로구    13     0    13
3  2019  양천구     8     1     7
4  2019  성북구     8     0     9

In [7]:
area_df = area_df[['지역','발생건수', '사망자수', '부상자수']]
area_df.columns = ['지역', 'area_발생건수', 'area_사망자수', 'area_부상자수']

In [8]:
# 어린이 교통사고 데이터, 어린이보호구역 내 교통사고 데이터 병합
df = pd.merge(df, area_df, on='지역', how='left')

In [9]:
df.head()

     기간   지역  발생건수  사망자수  부상자수  area_발생건수  area_사망자수  area_부상자수
0  2019   합계  1475     3  1770        114          2        113
1  2019  송파구   136     0   159          4          0          5
2  2019  강남구   107     0   126          6          0          6
3  2019  강서구    90     1   110         16          1         15
4  2019  구로구    81     0    94         13          0         13

In [10]:
# ----------- 위험도지수 산출 -----------
risk_index = []
area_risk_index = []

for i in range(len(df)):
    risk_index.append((df['사망자수'][i]*12+df['부상자수'][i]*3)/df['발생건수'][i])
    area_risk_index.append((df['area_사망자수'][i]*12+df['area_부상자수'][i]*3)/df['area_발생건수'][i])
print(risk_index)
print('-------')
print(area_risk_index)
df['risk_index'] = risk_index
df['area_risk_index'] = area_risk_index

[3.624406779661017, 3.5073529411764706, 3.532710280373832, 3.8, 3.4814814814814814, 3.7777777777777777, 3.364864864864865, 3.72972972972973, 3.869565217391304, 3.782608695652174, 3.7846153846153845, 3.5084745762711864, 3.8135593220338984, 3.473684210526316, 3.272727272727273, 3.6, 3.6, 4.133333333333334, 3.488372093023256, 3.5714285714285716, 3.5853658536585367, 3.6486486486486487, 3.2, 3.6666666666666665, 3.75, 3.75]
-------
[3.1842105263157894, 3.75, 3.0, 3.5625, 3.0, 4.125, 3.0, 3.0, 3.0, 3.0, 3.0, 3.6, 3.375, 3.0, 3.0, 0.0, 3.0, 3.0, nan, 3.0, 3.0, 3.0, 3.0, 3.0, nan, nan]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in longlong_scalars
  import sys

In [11]:
gap = []
for i in range(len(df)):
    if df['area_risk_index'][i] != 'nan':
        gap.append(df['risk_index'][i] - df['area_risk_index'][i])
    elif df['area_risk_index'][i] == 0.000000:
        gap.append('-')
df['gap'] = gap

In [13]:
df = df.sort_values(by=['gap'], axis=0, ascending=False)
df = df.reset_index(drop=True)
df

,기간,지역,발생건수,사망자수,부상자수,area_발생건수,area_사망자수,area_부상자수,risk_index,area_risk_index,gap
0,2019,마포구,45,0,54,2,0,0,3.600000,0.000000,3.600000
1,2019,성동구,45,0,62,1,0,1,4.133333,3.000000,1.133333
2,2019,서초구,69,0,89,3,0,3,3.869565,3.000000,0.869565
3,2019,중랑구,65,0,82,3,0,3,3.784615,3.000000,0.784615
4,2019,강동구,69,0,87,4,0,4,3.782609,3.000000,0.782609
5,2019,영등포구,74,0,92,2,0,2,3.729730,3.000000,0.729730
6,2019,용산구,27,0,33,2,0,2,3.666667,3.000000,0.666667
7,2019,관악구,37,0,45,3,0,3,3.648649,3.000000,0.648649
8,2019,광진구,45,0,54,6,0,6,3.600000,3.000000,0.600000
9,2019,동대문구,41,0,49,3,0,3,3.585366,3.000000,0.585366
10,2019,도봉구,42,0,50,8,0,8,3.571429,3.000000,0.571429
11,2019,강남구,107,0,126,6,0,6,3.532710,3.000000,0.532710
12,2019,구로구,81,0,94,13,0,13,3.481481,3.000000,0.481481
13,2019,동작구,57,0,66,4,0,4,3.473684,3.000000,0.473684
14,2019,합계,1475,3,1770,114,2,113,3.624407,3.184211,0.440196
15,2019,성북구,59,0,75,8,0,9,3.813559,3.375000,0.438559
16,2019,노원구,74,0,83,6,0,6,3.364865,3.000000,0.364865
17,2019,은평구,55,0,60,6,0,6,3.272727,3.000000,0.272727
18,2019,강서구,90,1,110,16,1,15,3.800000,3.562500,0.237500
19,2019,금천구,30,0,32,1,0,1,3.200000,3.000000,0.200000
20,2019,강북구,59,0,69,5,0,6,3.508475,3.600000,-0.091525
21,2019,송파구,136,0,159,4,0,5,3.507353,3.750000,-0.242647
22,2019,양천구,81,2,94,8,1,7,3.777778,4.125000,-0.347222
23,2019,서대문구,43,0,50,0,0,0,3.488372,NaN,NaN
24,2019,중구,24,0,30,0,0,0,3.750000,NaN,NaN
25,2019,종로구,20,0,25,0,0,0,3.750000,NaN,NaN

In [16]:
# 합계 삭제
df = df.drop(index=[16])