In [4]:
import pandas as pd

In [5]:
df_2019 = pd.read_csv('risk지수.csv')
df_2018 = pd.read_csv('risk지수_2018.csv')
df_2017 = pd.read_csv('risk지수_2017.csv')

In [7]:
df_2019 = df_2019[['지역', 'hazard gap']]
df_2018 = df_2018[['지역', 'hazard gap']]
df_2017 = df_2017[['지역', 'hazard gap']]

In [16]:
data = pd.merge(df_2019, df_2018, on='지역', how='left')
data = pd.merge(data, df_2017, on='지역', how='left')
data

      지역  hazard gap_x  hazard gap_y  hazard gap
0    종로구          3.75          0.54        0.53
1     중구          3.75          3.26        0.48
2    마포구          3.60          0.33        0.41
3   서대문구          3.49          3.38        0.39
4    성동구          1.13          0.32        2.36
5    서초구          0.87          0.70        0.61
6    중랑구          0.78          0.49        0.59
7    강동구          0.78          0.31       -0.50
8   영등포구          0.73          0.39        0.94
9    용산구          0.67          3.44        4.12
10   관악구          0.65          0.17       -1.31
11   광진구          0.60          0.56       -0.54
12  동대문구          0.59          3.29        0.20
13   도봉구          0.57          0.35       -0.41
14   강남구          0.53          1.26        0.58
15   구로구          0.48          0.67        0.85
16   동작구          0.47         -1.62        0.52
17    합계          0.44          0.48        0.28
18   성북구          0.44          0.84       -0.56
19   노원구          0.36          0.58        0.55
20   은평구          0.27          1.50        0.61
21   강서구          0.24          0.42        0.53
22   금천구          0.20          1.15        3.48
23   강북구         -0.09          3.72        3.38
24   송파구         -0.24          0.44        0.53
25   양천구         -0.35          0.54        0.43

In [15]:
third_hazard = []
for i in range(len(data)):
    third_hazard.append((data['hazard gap_x'][i] + data['hazard gap_y'][i] + data['hazard gap'][i])/3)
print(third_hazard)

[1.6066666666666667, 2.4966666666666666, 1.4466666666666665, 2.42, 1.2699999999999998, 0.7266666666666666, 0.62, 0.19666666666666668, 0.6866666666666666, 2.7433333333333336, -0.16333333333333333, 0.2066666666666667, 1.36, 0.17, 0.79, 0.6666666666666666, -0.21000000000000005, 0.39999999999999997, 0.24, 0.49666666666666665, 0.7933333333333333, 0.39666666666666667, 1.61, 2.3366666666666664, 0.24333333333333332, 0.2066666666666667]

In [17]:
data['3year_hazard'] = third_hazard

In [20]:
data = data[['지역', '3year_hazard']]
data

      지역  3year_hazard
0    종로구      1.606667
1     중구      2.496667
2    마포구      1.446667
3   서대문구      2.420000
4    성동구      1.270000
5    서초구      0.726667
6    중랑구      0.620000
7    강동구      0.196667
8   영등포구      0.686667
9    용산구      2.743333
10   관악구     -0.163333
11   광진구      0.206667
12  동대문구      1.360000
13   도봉구      0.170000
14   강남구      0.790000
15   구로구      0.666667
16   동작구     -0.210000
17    합계      0.400000
18   성북구      0.240000
19   노원구      0.496667
20   은평구      0.793333
21   강서구      0.396667
22   금천구      1.610000
23   강북구      2.336667
24   송파구      0.243333
25   양천구      0.206667

In [24]:
data.to_csv('3년치 risk_index.csv', encoding='utf-8', index=False)